*{
    margin: 0;
    padding: 0;
    background-color: #1e0420;
    color:antiquewhite;
    text-decoration:none;
    font-size:1.2rem;
}
a{
    margin-right: 50px;
}
#divi{
    text-align: right;
}
h1{
    position:absolute;
    top:150px;
    left: 500px;
    font-size:4rem;
    color:#09571e
}
#highlight{
    color:#136c2b;
    font-size:3.5rem;
}
#profile{
    height:500px;
    border-radius:50%;
    position:absolute;
    left: 70px;
    top: 90px;
}
#para{
    position:absolute;
    top: 350px;
    left: 450px;
}
#socials{
    height:60px;
    background-color: #09571e;
    padding:20px 20px 20px 20px;
    position: absolute;
    bottom:0px;
}
#link{
    background-color: #09571e;
    color: #1e0420;
    display:block;
    text-align:center;
}